
.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px; /* Changed gap to 80px */
    justify-content: flex-start;
    width: 1440px; /* (300px * 4) + (80px * 3) */ /* Adjusted width for 4 items with 80px gap */
    margin: 100px auto 0; /* Center horizontally and add 100px top margin */
}
.item {
    cursor: pointer;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.item p {
    margin-top: 10px;
    margin-bottom: 0; /* Reduce space below p */
}
.item h3 {
    margin-top: 5px; /* Small margin to separate from p, adjust as needed */
    margin-bottom: 0; /* Remove default bottom margin */
    font-size: 1.5em; /* Increase font size, adjust as needed */
    color: #333; /* Example color, can be adjusted */
}